# House Rocket

A House Rocket é uma empresa fictícia que tem como seu modelo de negócio a compra e venda de imóveis através de uma plataforma online. Desta forma, a melhor maneira de potencializar os ganhos da empresa é identificar, dentre tantas ofertas, os imóveis com maior potencial de lucro entre compra e venda.
Neste cenário, me posiciono como Cientista de Dados para criar soluções de dados que auxiliam o CEO da House Rocket a indentificar as melhores opções no mercado.Para isso, foi disponibilizado o banco de dados da empresa para responder os questionamentos do CEO.

Dados públicos disponíveis na plataforma <b>kaggle</b> através do link: https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

## 1. Perguntas do CEO

1. Quantas casas estão disponíveis para compra?
2. Quantos atributos as casas possuem?
3. Quais são estes atributos?
4. Qual a casa mais cara do portfólio?
5. Qual a casa com maior número de quartos?

## 2. Planejamento da Solução

### 2.1 Entrega

<b>O que vou entregar?</b> Texto com perguntas e respostas

### 2.2 Processo

.<b>Identificar onde está a informação?</b><br>
    Dados disponíveis através do link https://www.kaggle.com/datasets/harlfoxem/housesalesprediction

.<b>Como coletar essas informações?</b><br>
    Baixar o arquivo .csv com os dados para o estudo.

.<b>Responder as perguntas.</b>
    
    Quantas casas estão disponíveis para compra?
    Contar o número de linhas do conjunto de dados
    
    Quantos atributos as casas possuem?
    Contar o número de colunas do conjunto de dados
    
    Quais são estes atributos?
    Mostrar o nome das colunas
    
    Qual a casa mais cara do portfólio?
    Ordernar as linhas pela coluna de preço
    
    Qual a casa com maior número de quartos?
    Ordernar as linhas pela coluna número de quartos
    
    Qual a soma total de quatos do conjunto de dados?
    Somar a coluna de número de quartos
    
    Quantas casas possuem 2 banheiros?
    Filtrar coluna de quantidade de banheiros igual a dois e contar
    
    Qual o preço médio de todas as casas no conjunto de dados?
    Calcular a média da coluna de preços
    
    Qual o preço médio das casas com 2 banheiros?
    Filtrar coluna de quantidade de banheiros igual a dois e calcular a média da coluna preço
    
    Qual o preço mínimo entre as casas com 3 quartos?
    Filtrar coluna de quantidade de quartos igual a três e calcular o mínimo da coluna preço

    Quantas casas possuem mais de 300 metros quadrados na sala de estar?
    Filtrar coluna living room maior que 300m2 e contar as linhas
    
    Quantas casas tem mais de 2 andares?
    Filtrar coluna floors maior que dois e contar linhas
    
    Quantas casas tem vista para o mar?
    Filtrar coluna waterfront e contar linhas    
    
    Das casas com vista para o mar, quantas tem 3 quartos?
    Filtrar coluna waterfront, coluna bathrooms igual a 3 e contar linhas
    
    Das casas com mais de 300 metros quadrados de sala de estar,quantas tem mais de 2 banheiros?
    Filtrar coluna sqft_living maior que 300, coluna bathrooms maior que 2 e contar linhas

## 3. Solução

### 3.1 Bibliotecas

In [1]:
import pandas as pd

### 3.2 Importando Dados

In [2]:
df_raw = pd.read_csv("kc_house_data.csv")

### 3.3 Ciclo1 - Respondendo as perguntas

In [3]:
#Quantas casas estão disponíveis para compra?
#Contar o número de linhas do conjunto de dados

print("Há " + str( len(df_raw) ) + " imóveis disponíveis na base de dados")

Há 21613 imóveis disponíveis na base de dados

In [4]:
#Quantos atributos as casas possuem?
#Contar o número de colunas do conjunto de dados

print("Os imóveis têm " + str(df_raw.shape[1] - 1) + " atributos.")

Os imóveis têm 20 atributos.

In [5]:
#Quais são estes atributos?
#Mostrar o nome das colunas

attributes = "Os atributos são: "
for attr in df_raw.columns[1:]:
    attributes = attributes + attr + ", "

    
print(attributes)

Os atributos são: date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15,

In [6]:
#Qual a casa mais cara do portfólio?
#Ordernar as linhas pela coluna de preço

house_id = str( int(df_raw[['id','price']].sort_values('price', ascending = False).iloc[0][0]) )
print("O ID do imóvel mais caro é: " + house_id)

O ID do imóvel mais caro é: 6762700020

In [7]:
#Qual a casa com maior número de quartos?
#Ordernar as linhas pela coluna número de quartos

house_id = str( int( df_raw[['id', 'bedrooms']].sort_values('bedrooms', ascending = False).iloc[0][0]) )
print("O ID do imóvel com maior número de quartos é: " + house_id )

O ID do imóvel com maior número de quartos é: 2402100895

In [8]:
#Qual a soma total de quatos do conjunto de dados?
#Somar a coluna de número de quartos

print("O total de quartos no conjunto de dados é : " + str(df_raw['bedrooms'].sum()) )

O total de quartos no conjunto de dados é : 72854

In [9]:
#Quantas casas possuem 2 banheiros?
#Filtrar coluna de quantidade de banheiros igual a dois e contar 

print("Há " + str(len(df_raw[df_raw['bathrooms'] == 2])) +" casas com 2 banheiros.")

Há 1930 casas com 2 banheiros.

In [10]:
#Qual o preço médio de todas as casas no conjunto de dados?
#Calcular a média da coluna de preços

mean = float(df_raw['price'].mean())
print(f'O preço médio de todas as casas é {mean:.2f}')

O preço médio de todas as casas é 540088.14

In [11]:
#Qual o preço médio das casas com 2 banheiros?
#Filtrar coluna de quantidade de banheiros igual a dois e calcular a média da coluna preço

mean = df_raw[df_raw['bathrooms'] == 2]['price'].mean()
print( f'O preço médio das casas com dois banheiros é {mean: .2f}')

O preço médio das casas com dois banheiros é  457889.72

In [12]:
#Qual o preço mínimo entre as casas com 3 quartos?
#Filtrar coluna de quantidade de quartos igual a três e calcular o mínimo da coluna preço

min_ = df_raw[df_raw['bedrooms'] == 3]['price'].min()
print(f'O preço mínimo de casa com três quartos é {min_: .2f}')

O preço mínimo de casa com três quartos é  82000.00

In [13]:
#Quantas casas possuem mais de 300 metros quadrados na sala de estar?
#Filtrar coluna living room maior que 300m2 e contar as linhas

df_raw['m2_living'] = df_raw['sqft_living'] * 0.093

print('Há ' + str( len( df_raw[df_raw['m2_living'] > 300] ) ) + ' casas com sala de estar maior que 300 sqft')

Há 2258 casas com sala de estar maior que 300 sqft

In [14]:
#Quantas casas tem mais de 2 andares?
#Filtrar coluna floors maior que dois e contar linhas

print( 'Há ' + str(len(df_raw[df_raw['floors'] > 2])) + ' casas com mais de 2 andares')

Há 782 casas com mais de 2 andares

In [15]:
#Quantas casas tem vista para o mar?
#Filtrar coluna waterfront e contar linhas

print('Há ' + str(len(df_raw[df_raw['waterfront'] == 1])) + ' casas com vista para o mar')

Há 163 casas com vista para o mar

In [16]:
#Das casas com vista para o mar, quantas tem 3 quartos?
#Filtrar coluna waterfront, coluna bathrooms igual a 3 e contar linhas

houses = df_raw[ (df_raw['waterfront'] == 1) & (df_raw['bedrooms'] == 3 )]

print('Há '+ str(len(houses)) + ' casas com vista para o mar com três quartos')

Há 64 casas com vista para o mar com três quartos

In [17]:
#Das casas com mais de 300 metros quadrados de sala de estar,quantas tem mais de 2 banheiros?
#Filtrar coluna sqft_living maior que 300, coluna bathrooms maior que 2 e contar linhas

houses = df_raw[ (df_raw['m2_living'] > 300) & (df_raw['bathrooms'] > 2)]

print('Há ' + str(len(houses)) + ' casas com sala de estar maior que 300 sqft e mais de 2 banheiros')

Há 2201 casas com sala de estar maior que 300 sqft e mais de 2 banheiros

### 3.4 Ciclo 2 - Novos desafios

#### 3.4.1 Questionamentos

    1. Qual a data do imóvel mais antigo no portfólio?
    2. Quantos imóveis possuem o número máximo de andares?
    3. Criar uma classificação para os imóveis, separando-os entre baixo e alto padrão de acordo com o preço:
        Alto padrão: preço > R$540.000
        Baixo padrão: preço < R$540.000
        
    4. Criar um relatório ordenado pelo preço e contendo as seguintes informações:
        id do imóvel, data que o imóvel entrou no portfólio, número de quartos, tamanho total do terreno, preço e 
        classificação do imóvel
    5. Criar um mapa indicando a localização dos imóveis.

#### 3.4.2 Planejamento

1. Produto final: Email respondendo as perguntas com dois anexos (relatório em .csv e imagem de um mapa em html)

2. Ferramentas: Python e Jupyter Notebook

3. Processo:
    1. Qual a data do imóvel mais antigo no portfólio?
       Ordernar o set de dados por data
    
    2. Quantos imóveis possuem o número máximo de andares?
       Identificar o maior número de andares e filtrar os imóveis com esta quantidade
     
    3. Criar uma classificação para os imóveis, separando-os entre baixo e alto padrão de acordo com o preço:
    
        Alto padrão: preço > R$540.000
        
        Baixo padrão: preço < R$540.000
            
        Adicionar uma coluna de classificação adicionando o label Alto ou Baixo de acordo com o preço  


    4. Criar um relatório ordenado pelo preço e contendo as seguintes informações:
        id do imóvel, data que o imóvel entrou no portfólio, número de quartos, tamanho total do terreno, preço e 
        classificação do imóvel
       Criar um dataframe com as colunas solicitadas e exportar para .csv 
        
    5. Criar um mapa indicando a localização dos imóveis.
       Utilizar biblioteca para desenhar o mapa e adicionar os imóveis

#### 3.4.3 Solução

In [24]:
#Qual a data do imóvel mais antigo no portfólio?
#Ordernar o set de dados por data

df_raw['date'] = df_raw['date'].astype({'date':'datetime64[ns]'})

In [25]:
df_raw.dtypes

id                        int64
date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
m2_living               float64
dtype: object

In [26]:
df_raw.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,m2_living
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,109.74
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,239.01
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,71.61
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,182.28
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,156.24